doctype html
html(lang="en")
    head
        include ../components/meta
        include ../components/styles
        link(rel="stylesheet", href="../../dist/css/index.css")
        title BOOK YOUR TRAIN | HOME
    body
        //- Grid View Layer  
        //- include ../components/gridview

        //- Head Bar 
        include ../components/headbar

        //- Start Nav Bar
        include ../components/navbar

        //- Start Home Header
        include ../components/home-header

        //- Start Destinations Section
        include ../components/destinations-sec

        //- Start Features Section
        include ../components/features-sec

        //- Start About Us Section
        include ../components/aboutUs-sec

        //- SCRIPTS 
        include ../components/body-scripts
        script(src="../../dist/js/index.js")