doctype html
html(lang="en")
    head
        include ../components/meta
        include ../components/styles
        link(rel="stylesheet", href="../../dist/css/index.css")
        title BOOK YOUR TRAIN | HOME
    body
        //- Grid View Layer  
        include ../components/gridview

        //- Head Bar 
        include ../components/headbar

        //- Start Nav Bar
        include ../components/navbar

        //- Start Home Header
        include ../components/home-header

        //- Start Destinations Section
        include ../components/destinations-sec

        //- Start Features Section
        include ../components/features-sec

        //- Start About Us Section
        include ../components/aboutUs-sec

        //- Start LATEST NEWS Section
        include ../components/news-sec

        //- Start Testimonials Section
        include ../components/testimonials-sec

        //- Start ContactUS Link Section
        .contactUs-link 
            .container 
                .row.align-items-center
                    .col-12.col-lg-10.sec-heading
                        h3.sec-title still have a question ?
                        p.m-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores itaque ea perspiciatis officiis ex qui animi quos. Error.
                    .col-12.col-lg-2.text-lg-right
                        button.btn.border-0 contact us


        //- SCRIPTS 
        include ../components/body-scripts
        script(src="../../dist/js/index.js")
        