doctype html
html(lang="en")
    head
        include ../components/meta
        include ../components/styles
        link(rel="stylesheet", href="../../dist/css/index.css")
        title BOOK YOUR TRAIN | HOME
    body 
        include ../components/gridview
        include ../components/headbar
        include ../components/navbar
        include ../components/home-header
        include ../components/destinations-sec
        include ../components/features-sec
        include ../components/aboutUs-sec
        include ../components/news-sec
        include ../components/testimonials-sec
        include ../components/contactUs-link
        include ../components/menu









        //-////////////////////////////////////////////////////////////////////-//
        include ../components/body-scripts
        script(src="../../dist/js/index.js")





//-         //- Grid View Layer  
//-         include ../components/gridview

//-         //- Head Bar 
//-         include ../components/headbar

//-         //- Start Nav Bar
//-         include ../components/navbar

//-         //- Start Home Header
//-         include ../components/home-header

//-         //- Start Destinations Section
//-         include ../components/destinations-sec

//-         //- Start Features Section
//-         include ../components/features-sec

//-         //- Start About Us Section
//-         include ../components/aboutUs-sec

//-         //- Start LATEST NEWS Section
//-         include ../components/news-sec

//-         //- Start Testimonials Section
//-         include ../components/testimonials-sec

//-         //- Start ContactUS Link Section
//-         include ../components/contacts-link
        
//-         //- Start Menu Area
//-         include ../components/menu


//-         //- SCRIPTS 
//-         include ../components/body-scripts
        