.aboutUs-mini-sec
    .container-fluid
        .row
            .aboutUs-sec-img.col.p-0
            .aboutUs-sec-content.col.p-0
                .mission-message
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .row.no-gutters.aboutUs-sec-heading
                    .col.d-flex.flex-column.justify-content-start
                        span.sec-desc little about us
                        h3.sec-title about book your train
                        p(class="sec-text m-0") Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla minima quis tempore praesentium exercitationem earum placeat sunt quod excepturi beatae pariatur vitae molestiae dolorem porro explicabo.
                .row.no-gutters.sec-mission-message
                    .col.d-flex.flex-column.justify-content-end
                        h3.sec-title our project mission statement
                        span.sec-desc message from the desk of our managing  director