// === SCRIPTS === 
script(src='../../dist/js/lib/jquery-3.5.1.js')
script(src="../../dist/js/lib/swiper-bundle.min.js")
script(src='../../dist/js/lib/bootstrap.bundle.min.js')
script(src="../../dist/js/lib/jquery.nicescroll.min.js")