.contactUs-link 
            .container 
                .row.align-items-center
                    .col-12.col-lg-10.sec-heading
                        h3.sec-title still have a question ?
                        p.m-0 Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores itaque ea perspiciatis officiis ex qui animi quos. Error.
                    .col-12.col-lg-2.text-lg-right
                        button.btn.border-0 contact us