.contactUs-link 
            .container 
                .row.align-items-center
                    .col-12.col-lg-8.sec-heading
                        h3.sec-title still have a question ?
                        p.m-0 Lorem ipsum dolor sit amet consectetur adipisic perspiciatis officiis ex qui animi quos. Error.
                    .col-12.col-lg-4.text-lg-right
                        a(href="#").btn.border-0.rounded contact us