// === Start Features Section === 
section.features
    .container 
        .row
            .col-12.col-md-9.col-lg-4.sec-heading
                span.sec-desc amazing features
                h3.sec-title we offer quick & power solution for transport
                p(class="sec-text") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis distinctio assumenda sint quas reiciendis asperiores.
                a(href="#" class="sec-link") our services
            .col-12.col-md-6.col-lg-4
                .feature-item.rounded.d-flex.flex-row.align-items-center
                    .fea-icon 
                        img(src="../../dist/images/icons/fea-icon-1.png", alt="")
                    .fea-text
                        h4.fea-title feature item
                        p.fea-des Lorem ipsum dolor sit, amet con sectetur adipisicing elit. Qui illum necessitatibus.
                .feature-item.rounded.d-flex.flex-row.align-items-center
                    .fea-icon 
                        img(src="../../dist/images/icons/fea-icon-2.png", alt="")
                    .fea-text
                        h4.fea-title feature item
                        p.fea-des Lorem ipsum dolor sit, amet con sectetur adipisicing elit. Qui illum necessitatibus.
            .col-12.col-md-6.col-lg-4
                .feature-item.rounded.d-flex.flex-row.align-items-center
                    .fea-icon 
                        img(src="../../dist/images/icons/fea-icon-2.png", alt="")

                    .fea-text
                        h4.fea-title feature item
                        p.fea-des Lorem ipsum dolor sit, amet con sectetur adipisicing elit. Qui illum necessitatibus.
                .feature-item.rounded.d-flex.flex-row.align-items-center
                    .fea-icon 
                        img(src="../../dist/images/icons/fea-icon-1.png", alt="")
                    .fea-text
                        h4.fea-title feature item
                        p.fea-des Lorem ipsum dolor sit, amet con sectetur adipisicing elit. Qui illum necessitatibus.
// === End Features Section === 
