footer
    .container 
        .row.justify-content-center.align-items-center
            .col 
                p.m-0 Copyright 2021. All Rights Reserved by #[span THEBES 2021]
            .col.d-none.d-xl-block
                ul.m-0.pl-0.text-right
                    li #[a(href="#") Terms of Use]
                    li #[a(href="#") Legal Desclamier]
                    li #[a(href="#") Privacy Policy]
                    li #[a(href="#") Support]