// === Start Grid View Layer === 
.gridView.w-100
    input#gridToggler(type="checkbox")
    .container.h-100
        .row.h-100
            - for(var i = 0; i <= 11; i++)
                .col(class="h-100"): div.h-100
// === End Grid View Layer === 
