// === Start Head Bar === 
.head-bar.d-none.d-md-block
    .container
        .row
            .mail-us.col
                a.mail-link(href="mailto:info@bookyourtrain.me") 
                    i.fas.fa-envelope-open.mr-2
                    |Email us to : info@bookyourtrain.me
            .user-actions.col.text-right
                a.login-btn.btn.rounded-0.border-0(href="#" role="button") Log in
                a.signup-btn.btn.rounded-0.border-0(href="#" role="button") Sign Up
                a.req-quote-btn.btn.rounded-0.border-0(href="#" role="button") request a quote
// === End Head Bar ===
