// === Start Head Bar === 
.head-bar.d-none.d-md-block
    .container 
        .row.align-items-center
            .col.mail-us
                a.mail-link(href="mailto:info@bookyourtrain.me") 
                    i(class="fas fa-envelope-open mr-2")
                    |Email us to : info@bookyourtrain.me
            .col.text-right.user-actions
                a.login-btn(class="btn rounded-0" href="#" role="button">Link) Log in
                a.signup-btn(class="btn rounded-0" href="#" role="button">Link) Sign Up
                a.req(class="btn rounded-0 border-0" href="#" role="button">Link) request a quote
// === End Head Bar ===
