// === Start Home Header Section === 
header.d-flex.align-items-center
    .container
        .row
            .header-heading.col-12.col-lg-6.col-xl-7.d-flex.flex-column.justify-content-center.align-items-start
                span welcome to
                h6.m-0
                    |BOOK #[span YOUR] TRAIN
                    span.slogan.d-block LOGISTIC & TRANSPORT
                p.m-0 Lorem ipsum dolor sit amet, consectetur adipisicing elit.#[br] Recusandae beatae possimus earum unde sit.
                button.btn.btn-primary.border-0 know more
            .formm.col-12.col-lg-6.col-xl-5
// === End Home Header Section === 
