// === Start Home Header Section === 
header.d-flex.align-items-center
    .container
        .row
            .header-heading.col-12.col-lg-6.col-xl-7.d-flex.flex-column.justify-content-center.align-items-start
                span welcome to
                h6.m-0
                    |BOOK #[span YOUR] TRAIN
                    span.slogan.d-block LOGISTIC & TRANSPORT
                p.m-0 Lorem ipsum dolor sit amet, consectetur adipisicing elit.#[br] Recusandae beatae possimus earum unde sit.
                a(href="#").btn.btn-primary.border-0 know more
            .form.col-12.col-lg-6.col-xl-5.rounded
                form(action="", method="get") 
                    .row 
                        .col 
                            .row
                                .col 
                                    label(for="depart") Depart Station
                            .row 
                                .col 
                                    select#depart-station(name="depart")
                                        option(value="1") 1
                                        option(value="2") 2
                                        option(value="3") 3
                        .col 
                            .row
                                .col 
                                    label(for="arrival") Arrival Station
                            .row 
                                .col 
                                    select#arrival-station(name="arrival")
                                        option(value="1") 1
                                        option(value="2") 2
                                        option(value="3") 3
                    .row
                        .col
                            .row
                                .col 
                                    label(for="date") Travelling date
                            .row 
                                .col 
                                    input#travel-date-picker(type="date", name="travel-date-picker")
                    
                    .row 
                        .col 
                            .row
                                .col 
                                    label(for="class") Class
                            .row 
                                .col 
                                    select#class(name="class")
                                        option(value="1") 1
                                        option(value="2") 2
                                        option(value="3") 3
                        .col 
                            .row
                                .col 
                                    label(for="passengers") Passengers
                            .row 
                                .col 
                                    select#passengers(name="passengers")
                                        option(value="1") 1
                                        option(value="2") 2
                                        option(value="3") 3
                    .row 
                        .col 
                            input(type="submit", value="search tickets") 
// === End Home Header Section === 
