menu.nav-menu
    .container 
        .row
            .col-12.col-md-6.col-lg-4
                .row 
                    .col.sec-heading
                        h3.sec-title quick links
                .row 
                    .col
                        a.menu-link.d-block.pt-0(href="#") ground shipping 
                        a.menu-link.d-block(href="#") air freight 
                        a.menu-link.d-block(href="#") rail freight 
                    .col
                        a.menu-link.d-block.pt-0(href="#") cargo freight 
                        a.menu-link.d-block(href="#") storage 
                        a.menu-link.d-block(href="#") packaging
            .col-12.col-md-6.col-lg-4
                .row 
                    .col.sec-heading
                        h3.sec-title contact us
                .row 
                    .col
                        h6.sec-title transport king
                        p Contact Address Will appear here, some text gonna appear here, New York City, 15101, USA
                .row 
                    .col
                        p.phone Phone: #[span 01099617776] 
                        p.email Email: #[span info@bookyourtrain.me]
            
            .col-12.col-md-6.col-lg-4
                .row 
                    .col.sec-heading
                        h3.sec-title newsletter signup
                .row 
                    .col
                        p Contact Address Will appear here, some text gonna appear here, New York City, 15101, USA
                .row 
                    .col
                        form.rounded-lg.d-flex.align-items-center.justify-content-between
                            input(type="email", name="" placeholder="Email Address")
                            button
                                i(class="fab fa-telegram-plane")