menu.nav-menu
    .container 
        .row
            .col
                .row 
                    .col.sec-heading
                        h3.sec-title testimonials
                .row 
                    .col
                        a.menu-link.d-block(href="#") menu link 
                        a.menu-link.d-block(href="#") menu link 
                        a.menu-link.d-block(href="#") menu link 
                        a.menu-link.d-block(href="#") menu link 
                    .col
                        a.menu-link.d-block(href="#") menu link 
                        a.menu-link.d-block(href="#") menu link 
                        a.menu-link.d-block(href="#") menu link 
                        a.menu-link.d-block(href="#") menu link 
            .col
                .row 
                    .col.sec-heading
                        h3.sec-title testimonials
                .row 
                    .col
                        h6.sec-title testimonials
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                .row 
                    .col
                        h3.sec-title testimonials
            .col
                .row 
                    .col
                        h3.sec-title testimonials