meta(charset="UTF-8")
meta(name="theme-color" content="#e04622")
meta(name="author" content="Thebes Academy CE 2021")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(name="description" content=" (BOOK YOUR TRAIN) Thebes Academy Computer Engineering Graduation Project (2021)")
