// === Start Nav Bar === 
.navigation
    .colorbar.d-none.d-lg-block.w-100
    .container
        nav.navbar.navbar-expand-lg.row.pt-0.pb-0.align-items-stretch
            a.navbar-brand.col.col-lg-3.p-0.d-flex.align-items-center(href="index.html")
                i.fal.fa-train.fa-2x.mr-2
                h6.m-0
                    |BOOK #[span YOUR] TRAIN
                    span.slogan.d-block LOGISTIC & TRANSPORT
            button.navbar-toggler.pr-0(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggleicon.fal.fa-bars
            .collapse.navbar-collapse.col.col-lg-9.flex-md-column.justify-content-between(id="navbarSupportedContent")
                .call-us-area.ml-auto.flex-row.align-items-center.d-none.d-lg-flex
                    i.fal.fa-mobile-android
                    span call us now for#[br] your transport
                    span.p-no 109 9617 776
                ul.navbar-nav.ml-auto
                    li.nav-item.active
                        a.nav-link(href="#") Home
                            span(class="sr-only") (current)
                    li.nav-item
                        a.nav-link(href="#") services
                    li.nav-item
                        a.nav-link(href="#") about us
                    li.nav-item
                        a.nav-link(href="#") gallery
                    li.nav-item
                        a.nav-link(href="#") blog
                    li.nav-item
                        a.nav-link(href="#") location
                    li.nav-item
                        a.nav-link(href="#") contact
// === End Nav Bar ===
