// === Start Latest News Section === 
section.top-destinations
    .container 
        .row
            .col.sec-heading
                span.sec-desc from blog
                h3.sec-title our latest news
        .latest-blog-post.row
            div(class="blog-post col")
                div(class="card") 
                    .card-img
                        .post-date
                            span july
                            span 05
                        img(src='../../dist/images/blog-posts/post-1.jpg' class="card-img-top img-fluid" alt="...") 
                    div(class="card-body") 
                        h5(class="card-title") quality BYT services at affordable price
                        p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content.
                        a(href="#" class="card-link") Read more

            div(class="blog-post col")
                div(class="card") 
                    .card-img
                        .post-date
                            span july
                            span 05
                        img(src='../../dist/images/blog-posts/post-2.jpg' class="card-img-top img-fluid" alt="...") 
                    div(class="card-body") 
                        h5(class="card-title") we have started new section in ground shipping
                        p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content.
                        a(href="#" class="card-link") Read more

            div(class="blog-post col")
                div(class="card") 
                    .card-img
                        .post-date
                            span july
                            span 05
                        img(src='../../dist/images/blog-posts/post-3.jpg' class="card-img-top img-fluid" alt="...") 
                    div(class="card-body") 
                        h5(class="card-title") BYT shipping available at good discounts
                        p(class="card-text") Some quick example text to build on the card title and make up the bulk of the card's content.
                        a(href="#" class="card-link") Read more
// === End Latest News Section === 
