//- FAVICONs
link(rel="apple-touch-icon", href="../../dist/images/favicon.png")
link(rel="icon", href="../../dist/images/favicon.png", type="image/x-icon")
link(rel="shortcut icon", href="../../dist/images/favicon.png", type="image/x-icon")

//- CSS STYLES
//- link(rel="stylesheet", href="../../dist/css/lib/bootstrap.min.css")
//- link(rel="stylesheet", href="../../dist/css/lib/fontawesome.min.css")
//- link(rel="stylesheet", href="../../dist/css/lib/swiper-bundle.min.css")

link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
