//- FAVICONs
link(rel="icon", href="../../dist/images/tt.png", type="image/x-icon")

//- CSS STYLES
link(rel="stylesheet", href="../../dist/css/lib/fontawesome.min.css")
link(rel="stylesheet", href="../../dist/css/lib/bootstrap.min.css")
link(rel="stylesheet", href="../../dist/css/lib/swiper-bundle.min.css")
