//- FAVICONs
link(rel="apple-touch-icon", href="../../dist/images/favicon.png")
link(rel="icon", href="../../dist/images/favicon.png", type="image/x-icon")
link(rel="shortcut icon", href="../../dist/images/favicon.png", type="image/x-icon")

//- CSS STYLES
link(rel="stylesheet", href="../../dist/css/lib/bootstrap.min.css")
link(rel="stylesheet", href="../../dist/css/lib/fontawesome.min.css")
link(rel="stylesheet", href="../../dist/css/lib/swiper-bundle.min.css")
