// START HEAD BAR STYLE
.head-bar
    font-size: 14px !important
    background: linear-gradient(to right, $head-bar-BackColor 50%, $mainBackColor 50%, $mainBackColor)
    .container
        background: $head-bar-BackColor
        .row
            background: linear-gradient(to right, $head-bar-BackColor 80%, $mainBackColor)
            .mail-us
                .mail-link
                    text-decoration: none
                    color: $head-bar-TextColor
                    &:hover
                        text-decoration: underline
            .user-actions
                .btn
                    padding: 0.75rem 1rem
                    text-transform: uppercase
                    color: $head-bar-TextColor
                    &:hover
                        color: $reqBtn-BackColor
                .btn:not(:last-of-type)
                    border-left: 1px solid #00000025 !important
                .req-quote-btn
                    @extend %sec-btn
                    @extend %el-slope-cut-RL
                    font-weight: 600
                    transition: .3s !important
                    &::after
                        transition: .3s !important
                        right: -15px
                    &:hover
                        background: $reqBtn-SecColor
                        &::after
                            background: $reqBtn-SecColor

// END HEAD BAR STYLE


// START HEAD BAR STYLE MEDIA QUERIES
@media screen and ( max-width:991px  )
    .head-bar, .head-bar .container, .head-bar .row, .user-actions
        background: $head-bar-BackColor
    .head-bar .container .row .user-actions .req-quote-btn::after
        display: none
// END HEAD BAR STYLE MEDIA QUERIES

