// START HOME PAGE HEADER STYLE
header
    min-height: 625px
    background: linear-gradient(to top, rgba(0,0,0,.6),rgba(0,0,0,.4)) ,url('../../dist/images/header/header-bg.jpg') center no-repeat
    background-size: cover !important
    .container
        .row
            .header-heading
                font-family: metropolis
                color: $mainBackColor
                > span
                    font-size: 14px
                    padding-bottom: $elementP_Y
                    text-transform: uppercase
                    color: $mainDarkTextColor
                    background-color: $mainBackColor
                    font-size: 16px
                    font-weight: 700
                    padding: .5rem 2rem
                    @extend %el-slope-cut-RL
                    display: block
                    position: relative
                    &::after
                        clip-path: polygon(0 0, 0% 100%, 100% 100%)
                        background: $mainBackColor
                        border: 0 !important
                h6
                    padding: $elementP
                    font-size: 3.75rem
                    letter-spacing: -1px
                    font-weight: 900
                    span
                        font-weight: 300
                    .slogan
                        font-family: $mainFontFamily
                        font-size: .75rem
                        letter-spacing: .5rem
                        font-weight: 300
                p
                    padding: 5px 0
                    font-family: $mainFontFamily
                    font-weight: 300
                a
                    margin-top: $elementP_Y
                    @extend %sec-btn
            .form
                background: #ffffff27
                padding: 50px
                // padding-right: 0
                form
                    input,select
                        color: $mainDarkTextColor
                        outline: none
                        width: 100%
                        border: 0
                        // -webkit-appearance: none
                        // -moz-appearance: none
                        padding: 0.5rem
                        padding-left: 1rem
                        border-radius: 5px
                    label
                        color: $mainBackColor
                    input[type="submit"]
                        @extend %sec-btn
                form > .row
                    margin: 1rem 0
// START HOME PAGE HEADER STYLE


    
// START HOME PAGE HEADER MEDIA QUERIES
@media screen and ( max-width:767px )
    header
        text-align: center
        justify-content: center
        align-items: center
        .header-heading
            align-items: center !important
            span
                &::after
                    display: none
            h6
                    font-size: 3rem
                    font-weight: 900
                    span
                        font-weight: 300
                    .slogan
                        font-family: $mainFontFamily
                        font-size: .75rem
                        letter-spacing: .5rem
                        font-weight: 300
@media screen and ( max-width:991px )
    header
        padding: $secP
        .header-heading
            margin-bottom: $secP_Y


// END HOME PAGE HEADER MEDIA QUERIES