.testimonials
    padding: $secP
    .container 
        .testimonials-swiper
            .testimonial
                color: $mainDarkTextColor
                .testimonial-name
                    margin: 0
                    font-family: raleway
                    text-transform: uppercase
                    font-size: 1.25rem
                    font-weight: 900
                .testimonial-rule
                    font-family: raleway
                    text-transform: uppercase
                    font-weight: 600
                    color: $secDarkTextColor
                    font-size: 13px
                .testimonial-text
                    color: $mainDarkTextColor
                    padding: 10px 0
                i
                    padding: 1rem 0
                    color: $secDarkTextColor
                    opacity: .5