.top-destinations
    padding: $secP
    .container 
        .top-destinations-swiper
            padding: 10px 0
            .swiper-slide
                border-radius: .5rem
                overflow: hidden
                .card
                    .card-img
                        height: 230px
                        overflow: hidden
                        img
                            transition: 6s
                            &:hover
                                transform: scale(1.06)
                    .card-body
                        .card-title
                            color: $mainDarkTextColor
                            font-family: metropolis
                            text-transform: uppercase
                            font-weight: 800
                        .card-text
                            color: $secDarkTextColor
                        .card-link
                            text-transform: uppercase
                            color: $reqBtn-SecColor
                            &:hover
                                text-decoration: underline
