//- At end import root style file and delete it from components
@import "../components/_root"
@import "../components/_grid"
@import "../components/_headbar"
@import "../components/_navbar"
@import "../components/_home-header"
@import "../components/_top-dest-sec"
@import "../components/_features-sec"
@import "../components/_aboutUs-sec"
@import "../components/_latest-news-sec"
@import "../components/_testimonials-sec"

.contactUs-link
    background: $reqBtn-SecColor
    padding: 30px 0 
    .container 
        .row
            .col-lg-10
                padding-bottom: 0
                h3,p
                    color: $mainBackColor
            .col-lg-2
                button
                    text-transform: uppercase
                    border-radius: 0
                    padding: .9rem 2rem
                    box-shadow: 1px 1px 5px #00000055
                    background: $reqBtn-BackColor
                    color: $mainBackColor




