//- At end import root style file and delete it from components
@import "../components/_root"
@import "../components/_grid"
@import "../components/_headbar"
@import "../components/_navbar"
@import "../components/_home-header"
@import "../components/_top-dest-sec"

.features
    padding: $secP
    padding-top: 0
    .container 
        .row.position-relative
            .sec-title
                line-height: 1.25
            .sec-text
                color: $secDarkTextColor
                padding: 25px 0
                padding-bottom: 40px
            .sec-link
                text-decoration: none
                margin-top: 10px
                font-family: metropolis
                color: $mainBackColor
                text-transform: uppercase
                padding: 1.25rem 2rem
                box-shadow: 1px 1px 5px #00000055
                background: $reqBtn-BackColor
            .col-12
                .feature-item
                    padding: 20px 0
                    border: 1px solid #85858536
                    box-shadow: 1px 1px 5px #77777727
                    // min-height: 165px
                    margin-bottom: 30px
                    .fea-text, .fea-icon
                        padding: 0 20px
                    .fea-text
                        padding-left: 0
                        .fea-title
                            font-size: 20px
                            text-transform: uppercase
                            color: $mainDarkTextColor
                            font-family: raleway
                            font-weight: 900
                            position: relative
                            padding-bottom: 10px
                            &::after
                                position: absolute
                                content: ""
                                width: 50px
                                height: 2px
                                left: 0
                                bottom: 0
                                display: block
                                background: $reqBtn-SecColor
                        p
                            color: $secDarkTextColor
                            margin-bottom: 0
                            font-size: 14px
